<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Profile Matchmaking algorithm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Profile Matchmaking algorithm</h1>
      <div class="logo-container">
        <img src="{{url_for('static', filename='img/trasna.png')}}" alt="Your logo" style="position:absolute;top:0;left:0;margin:20px;">
      </div>
      <div class="row" style="padding-top: 10%;">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="profile1">Company 1 Profile Description</label>
              <textarea class="form-control" id="profile1" rows="10"></textarea>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="profile2">Company 2 Profile Description </label>
              <textarea class="form-control" id="profile2" rows="10"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary center-block" id="match-form">Match</button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="row">
          <div class="col-md-12 text-center mt-5">
            <h3 class="d-inline-block" id="result"></h3>
          </div>
        </div> 
      </div>
             
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>

